footer {
    margin: 0;
    padding: 0; 
   
}

.footer_container {
    margin-top: 5rem;
}

.footer_top img {
    width: 100%;
    display: block;
}

.footer_stack,
.footer_card3 {
    background-color: var(--Very-Dark-Cyan);
}

.footer_card1 {
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer_stack_button_input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer_input input {
    height: 50px;
    width: 100%;
    border-radius: 8px;
    border: 0px solid;
}

.footer_button button {
    background-color: var(--Pink);
    border: 0px solid;
    height: 50px;
    width: 150px;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
}

.footer_button {
    display: flex;
    place-content: end;
}

.footer_card2 {
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer_logo img {
    width: 200px;
    filter: brightness(0) invert(1) grayscale(1);
}

.footer_contact >* {
    display: flex;
    gap: 2rem;
}

.footer_contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer_card2 {
  margin-top: 7rem;
}

.footer_card3 {
    padding-inline: 2rem;
    padding-top: 2rem;
}

.footer_card3 i {
  margin-right: 1rem;
  scale: 1.5;
}





